.attributes {
	font-size: 40px;
	float: right;
	}

.attributesSub {
	font-size: 30px;
	float: right;
	vertical-align: bottom:
	}

.attributeGrid {
	display: grid;
	border: 1px solid #333333;
	grid-auto-rows: minmax (400px,auto);
//	grid-template-columns: 2fr 18fr;
}
.attributeGridStr {
	display: grid;
	border: 3px solid #333333;
	grid-auto-rows: minmax (400px,auto);
	grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
}
.attributeGridInt {
	display: grid;
	border: 3px solid #333333;
	grid-auto-rows: minmax (400px,auto);
	grid-template-columns: 2fr 2fr 2fr 14fr;
}
.attributeGridWis {
	display: grid;
	border: 3px solid #333333;
	grid-auto-rows: minmax (400px,auto);
	grid-template-columns: 2fr 2fr 2fr 2fr 2fr 10fr;
}
.attributeGridDex {
	display: grid;
	border: 3px solid #333333;
	grid-auto-rows: minmax (400px,auto);
	grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 8fr;
}
.attributeGridCon {
	display: grid;
	border: 3px solid #333333;
	grid-auto-rows: minmax (400px,auto);
	grid-template-columns: 2fr 2fr 16fr;
}
.attributeGridLks {
	display: grid;
	border: 3px solid #333333;
	grid-auto-rows: minmax (400px,auto);
	grid-template-columns: 2fr 2fr 2fr 2fr 12fr;
}
.attributeGridCha {
	display: grid;
	border: 3px solid #333333;
	grid-auto-rows: minmax (400px,auto);
	grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 8fr;
}

/*
.attributeGrid > div{
	border: 1px solid black;
	}
*/

.attributeGridBox {
	border: 2px solid #333333;
	}

.attributeGridBox2 {
	border: 1px solid #333333;
	}

